<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Success! - Convert RSS Feeds to JSON</title>
  </head>
  <body>
    <header>
      <h1>Success!<span>&nbsp;\^_^/&nbsp;</span></h1>
    </header>
    <main>
      <p>JSON data has been successfully converted from the RSS feed.</p>
      <p>Check your project's <code>/public</code> folder for the file download.</p>
      <p>Thank you for using Vcolesdev RSS to JSON Converter!</p>
      <p>You may now close this page.</p>
    </main>
    <footer>
      <p>&copy; 2024 vcolesdev | License: MIT</p>
    </footer>
  </body>
</html>
